# Abaikan virtual environment
env/
logs/

# Abaikan file Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Abaikan file database dan data lokal
*.csv
*.db
*.sql

# Abaikan file sistem & editor
.DS_Store
.ipynb_checkpoints/
.env
*.env
*.log
.env.*